<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<!-- Footer -->
<footer style="
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #FFFFFF;
" class="page-footer font-small blue-grey lighten-5">

    

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">#RegisterToVoteZW</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p> The idea of <a style="text-decoration: none;" class="justify-content-center" href="https:www.registertovotezw.live">registertovotezw.live</a> came to me when I was scrolling on my twitter timeline. It occurred to me that #RegisterToVoteZW needed a website with information
                    about the registration process and voter education. People need to be enlightened on why its important to vote. This website was a way of <a style="text-decoration: none;" class="justify-content-center" href="https://takudzwam.live"> Sputnik Tech</a> to support the voting campaign in Zimbabwe and make sure Zimbabweans have a say on who make decisions that affect them.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Pages</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="text-decoration:none" class="dark-grey-text" href="/">Home</a>
                </p>
                <p>
                    <a style="text-decoration:none" class="dark-grey-text" href="/why_voting">Why Voting?🎥</a>
                </p>
                <p>
                    <a style="text-decoration:none" class="dark-grey-text" href="/centers">Registration Centers</a>
                </p>
                <p>
                    <a style="text-decoration:none" class="dark-grey-text" href="/news">News</a>
                </p>
                <p>
                    <a style="text-decoration:none" class="dark-grey-text" href="/contact_us">Contact Us</a>
                </p>
                


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <!--Links --> 
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                
                <h6 class="text-uppercase font-weight-bold">#RegisterToVoteZW</h6>
               
                <img src="https://res.cloudinary.com/dyzeuqi75/image/upload/v1634210994/Photo_1634210062330_xf6nub.png" width="200px" height="200px" alt="">
                

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i style="font-size:20px; color: #480470;" class="uil uil-building"></i> Any registration centers. Register to vote Zimbabwe!!!
                </p>
                <p>
                    <i style="font-size:20px; color: #480470; " class="uil uil-envelope"></i> Let's vote in numbers

                </p>
                <p>
                    <i style="font-size:20px; color: #480470;" class="uil uil-phone"></i> + 263 Vote!!!

                </p>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3"><i class="uil uil-brackets-curly"></i> Designed and
        Created by
        <a style="text-decoration:none" class="dark-grey-text" href="https://takudzwam.live/"> Sputnik Tech</a>
    </div>
    <!-- Copyright -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2021 Copyright:
        <a style="text-decoration:none" class="dark-grey-text"> #RegisterToVoteZW</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->