
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1  style="color: #480470" class="section-title">We'd Love to Hear From You</h1>
            </div>
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>We value your opinions, feel free to message us. 
                    If you have questions you'd like to be answered please dont hesitate to contact me. 
                    All the contact information you might need is provided here on this contact page.</p>

                
                <div class="find-widget">
                <i style="color: #480470" class="fas fa-1x fa-map-marked-alt "></i><a > Any registration centers. Register to vote Zimbabwe!!!
</a>
                </div>
                <div class="find-widget">
                    <i style="color: #480470" class="fas fa-1x fa-envelope-open-text "></i><a> Let's vote in numbers
</a>
                </div>
                <div class="find-widget">
                <i style="color: #480470" class="fas fa-1x fa-phone "></i><a > + 263 Vote!!!</a>
                </div>
                
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)"><div class="form-group">
<label for="Email"><i style="color: #480470" class="fas fa-2x fa-envelope"></i></label>
<input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
<div class="form-group">
<label for="fullname"><i style="color: #480470" class="fas fa-2x fa-user-edit"></i></label>
<input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
</div>
<div class="form-group">
<label for="comment"><i style="color: #480470" class="fas fa-2x fa-comment-alt"></i></label>
<textarea class="form-control" placeholder="Comment" formControlName="Comment" name="Comment">
</textarea>
</div>
<button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
</form>
            </div>
        </div>
    </div>
</section>
