<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />

<!--<div style="
    background: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);

    color: #480470;
  " class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div id="two" class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5 ">
                <h2 style="color: #480470"
                    class="text-#480470 text-uppercase font-weight-medium mb-3">
                    PORTFOLIO
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    Basic Career Objectives: I am an articulate and focused young lady. I believe l possess a personal
                    attribute
                    of gathering and analysing information and then use the results of that analysis to make effective
                    decisions
                    and find innovative solutions to any problems in any field I put my mind on. Among other skills, l
                    possesses
                    excellent communication
                    skills, credible interpersonal skills and a versatile character to work in every
                    working environment with the foundation of teamwork. I am seeking for an institution where I can use
                    my
                    experience and education to help the institution meet and surpass its goals. I would like to be part
                    of the
                    success in an environment of growth and excellence. I am seeking a competitive and
                    challenging environment where I can serve the organization and establish an enjoyable career
                    for myself.

                </p>
                <ul>
                    <li><a style="color:#1b004e; text-decoration: none; margin-botton: 10px;"
                            href=" https://www.herald.co.zw/nhamos-poetry-anthology-inspiring/">Nhamo's poetry anthopogy
                            inspiring</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://nehandaradio.com/2018/12/14/christine-nhamo-dear-mr-president/ ">Christine
                            Nhamo: Dear Mr. President</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://lidmagazine.co.za/2021/08/12/life-is-simply-how-you-make-it/ ">Life is simply
                            how you make it</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://www.herald.co.zw/covid-19-depression-anxiety-in-students-studying-abroad/">Covid-19:
                            Depression, anxiety in students students studying abroad</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://www.newsday.co.zw/tag/christine-nhamo/ ">Tag: Christine nhamo</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://nehandatv.com/tag/christine-nhamo/">Talking Business with Vaka CEO Mr Tapiwa
                            Kundoro</a></li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="
            d-flex
            flex-column
            align-items-center
            justify-content-center
            bg-secondary
            h-100
            py-5
            px-3
          ">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_AU5B7c.json" background="transparent" speed="1"
                        style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                </div>
            </div>
        </div>
    </div>
</!--<div>

<div style="
    background: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    color: #480470;
  " class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 py-2">
                

                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of images, index as i, index as j">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Random slide" />
                        </div>
                        
                    </ng-template>
                </ngb-carousel>



                
                
            </div>

            <div id="six" class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                <h2 style="color: #480470"
                    class="text-#480470 text-uppercase font-weight-medium mb-3">
                    Zim Influencers Magazine
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    Check out my magazine issues.
                </p>
                <ul>
                    <li><a style="color:#1b004e; text-decoration: none; margin-botton: 10px;"
                            href=" https://issuu.com/christinenhamo/docs/zim_influencers_magazine_5th_edition/27">Zim
                            Influencers Magazine 5th edition</a>
                    </li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://issuu.com/zim_influencers_magazine/docs/zim_influencers_magazine_8th_edition">Zim
                            Influencers Magazine 8th edition</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://issuu.com/zim_influencers_magazine/docs/zim_influencers_magazine_6th_edition">Zim
                            Influencers Magazine 6th edition</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://issuu.com/zim_influencers_magazine/docs/zim_influencers_magazine_7th_edition">Zim
                            Influencers Magazine 7th edition</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://issuu.com/zim_influencers_magazine/docs/zim_influencers_magazine_4th_edition">Zim
                            Influencers Magazine 4th edition</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://issuu.com/zim_influencers_magazine/docs/zim_influencers_magazine_3rd_edition">Zim
                            Influencers Magazine 3rd edition</a></li>
                </ul>

                <h2 style="color: #480470"
                    class="text-#480470 text-uppercase font-weight-medium mb-3">
                    Talk Show
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    Check out my Talk Shows.
                </p>
                <ul>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href=" https://www.youtube.com/watch?v=2wsPPATWqYk">The
                            Untapped Voices Talk Show</a>
                    </li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://www.facebook.com/100005791754630/videos/1479126195623758/">Talk Show with the
                            Youngest Teen Pilot in Zimbabwe</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://www.facebook.com/100005791754630/videos/1475649285971449/">Let's talk about
                            Relationships and dating with a proffessional Coach Malcohm</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://www.facebook.com/100005791754630/videos/1453797861489925/">A renewed mindset
                            Talk Show</a></li>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="https://www.facebook.com/100005791754630/videos/1460159360853775/">An Insight is
                            better than Sight</a></li>

                </ul>
                <h2 style="color: #480470"
                    class="text-#480470 text-uppercase font-weight-medium mb-3">
                    Radio Presenter
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    Catch up with me on radio</p>
                <ul>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href=" https://liveonlineradio.net/5-radio">After 5 Radio</a>
                    </li>
                </ul>
                <h2 style="color: #480470" class="text-#480470 text-uppercase font-weight-medium mb-3">
                    School Teacher
                </h2>
                
                <p style="color: #ffffff; text-align: justify">
                    Check out my teaching expeditions.
                </p>
                <ul>
                    <li><a style="color:#1b004e; text-decoration: none; "
                            href="http://xn----itbjbqddhcuefal.xn--p1ai/nizhnij-novgorod-ul-pochainskaya-35/">МИР
                            МОНТЕССОРИ</a>
                    </li>
                </ul>
            </div>

            
            
        </div>
    </div>
</div>
 Features End -->