<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />






<section id="welcome" class="resume" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="head-bar">
                    <i class="fa fa-2x fa-city"></i> ZEC Provincial Offices
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Bulawayo Metropolitan<span class="label label-default">Province</span>
                    </h1>

                    <h2>
                        Bulawayo<small>Town</small>

                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park
                        Building 16th Avenue, Famona Bulawayo</h3>
                </article>

                <article class="education">
                    <h1>
                        Harare Metropolitan<span class="label label-default">Province</span>
                    </h1>

                    <h2>
                        Harare<small>Town</small>

                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 95 Jason Moyo Avenue, 4th Floor Cecil
                        House, Harare</h3>
                </article>

                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutare
                        <small>Town</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 1st Floor New Government Complex, Cnr
                        Robert Mugabe and 4th Street, Mutare
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bulawayo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park Building
                        16th Avenue, Famona, Bulawayo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gwanda
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 1194 Bigben Road, Jahunda, Gwanda.
                    </h3>
                </article>
            </div>
            
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bindura
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2nd Floor Mtungagore Building, Bindura.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Marondera
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2 Fifth Street, Marondera.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chinhoyi
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 78 Robson Manyika Drive, Chinhoyi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Masvingo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10 Hellet Street Masvingo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gweru
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10th Street, Ground Floor Government
                        Complex, Gweru.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="head-bar"><i class="fa fa-2x fa-building"></i> ZEC District Offices</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Bulawayo Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Bulawayo<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park
                        Building 16th Avenue, Famona Bulawayo</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Harare Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Harare<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 95 Jason Moyo Avenue, 4th Floor Cecil
                        House, Harare</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutare
                        <small>Town</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 1st Floor New Government Complex, Cnr
                        Robert Mugabe and 4th Street, Mutare
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bulawayo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park Building
                        16th Avenue, Famona, Bulawayo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gwanda
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 1194 Bigben Road, Jahunda, Gwanda.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bindura
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2nd Floor Mtungagore Building, Bindura.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Marondera
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2 Fifth Street, Marondera.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chinhoyi
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 78 Robson Manyika Drive, Chinhoyi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Masvingo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10 Hellet Street Masvingo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gweru
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10th Street, Ground Floor Government
                        Complex, Gweru.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Bulawayo Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Bulawayo<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park
                        Building 16th Avenue, Famona Bulawayo</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Harare Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Harare<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 95 Jason Moyo Avenue, 4th Floor Cecil
                        House, Harare</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutare
                        <small>Town</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 1st Floor New Government Complex, Cnr
                        Robert Mugabe and 4th Street, Mutare
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bulawayo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park Building
                        16th Avenue, Famona, Bulawayo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gwanda
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 1194 Bigben Road, Jahunda, Gwanda.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bindura
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2nd Floor Mtungagore Building, Bindura.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Marondera
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2 Fifth Street, Marondera.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chinhoyi
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 78 Robson Manyika Drive, Chinhoyi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Masvingo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10 Hellet Street Masvingo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gweru
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10th Street, Ground Floor Government
                        Complex, Gweru.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Bulawayo Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Bulawayo<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park
                        Building 16th Avenue, Famona Bulawayo</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Harare Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Harare<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 95 Jason Moyo Avenue, 4th Floor Cecil
                        House, Harare</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutare
                        <small>Town</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 1st Floor New Government Complex, Cnr
                        Robert Mugabe and 4th Street, Mutare
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bulawayo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park Building
                        16th Avenue, Famona, Bulawayo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gwanda
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 1194 Bigben Road, Jahunda, Gwanda.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bindura
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2nd Floor Mtungagore Building, Bindura.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Marondera
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2 Fifth Street, Marondera.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chinhoyi
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 78 Robson Manyika Drive, Chinhoyi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Masvingo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10 Hellet Street Masvingo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gweru
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10th Street, Ground Floor Government
                        Complex, Gweru.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Bulawayo Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Bulawayo<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park
                        Building 16th Avenue, Famona Bulawayo</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Harare Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Harare<small>Town</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 95 Jason Moyo Avenue, 4th Floor Cecil
                        House, Harare</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutare
                        <small>Town</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 1st Floor New Government Complex, Cnr
                        Robert Mugabe and 4th Street, Mutare
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bulawayo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park Building
                        16th Avenue, Famona, Bulawayo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gwanda
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 1194 Bigben Road, Jahunda, Gwanda.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bindura
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2nd Floor Mtungagore Building, Bindura.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Marondera
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2 Fifth Street, Marondera.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chinhoyi
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 78 Robson Manyika Drive, Chinhoyi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Masvingo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10 Hellet Street Masvingo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gweru
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10th Street, Ground Floor Government
                        Complex, Gweru.
                    </h3>
                </article>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <article class="work">
                    <h1>
                        AntiFraud, Moscow
                        <span class="label label-default">Aug 2020 - Aug 2021</span>
                    </h1>
                    <h2>Customer service agent</h2>
                    <p>
                        Made and received calls from clients and I was quick in problem
                        solving and customer support. I worked with different application
                        including the 3CX and call panel.
                    </p>
                </article>
                <article class="work">
                    <h1>
                        Polignotic School, Nizhniy Novgorod
                        <span class="label label-default">Sep 2018 - Jul 2020 </span>
                    </h1>
                    <h2>Recruitment manage</h2>
                    <p>
                        I was involved in recruitment duties, hosting interviews and looking
                        for the right candidates for the English teaching jobs. I was also
                        involved in writing convincing texts to be used in adverts for jobs.
                    </p>
                </article>
                <article class="work">
                    <h1>
                        Zim Influencers Magazine, Harare
                        <span class="label label-default">Jan 2019 - Present </span>
                    </h1>
                    <h2>Editor</h2>
                    <p>
                        I work as an Editor in Chief of the local magazine called the Zim
                        Influencers Magazine.
                    </p>
                </article>
                <article class="work">
                    <h1>
                        Ptit Cref, Nizhniy Novgorod
                        <span class="label label-default">Jan 2017 - May 2019 </span>
                    </h1>
                    <h2>English Teacher</h2>
                    <p>Teaching English to kids.</p>
                </article>
                <article class="work">
                    <h1>
                        Sami Su Sami school
                        <span class="label label-default">Jun 2012 - Sept 2018</span>
                    </h1>
                    <h2>English Teacher</h2>
                    <p>
                        It was a Montessori School and that worked as an introduction to the
                        Montessori system. Being a teacher, I learnt a lot of different
                        methods in teaching and better ways to develop a mutual relationship
                        between a teacher and students.
                    </p>
                </article>
            </div>
            <div class="col-md-6">
                <article class="work">
                    <h1>
                        Montessori World, Nizhniy Novgorod
                        <span class="label label-default">Oct 2019 - Jun 2021</span>
                    </h1>
                    <h2>English Teacher</h2>
                    <p>
                        I was an English teacher for two years at a Montessori school. I
                        received a certificate of teacher appreciation from the
                        administration due to my evidenced abilities as a teacher.
                    </p>
                </article>

                <article class="work">
                    <h1>
                        After 5 Radio Zimbabwe, Harare
                        <span class="label label-default">Oct 2020 - Present</span>
                    </h1>
                    <h2>Radio Presenter</h2>
                    <p>
                        Due to my oratory skills, I work as a radio presented on weekends. I
                        host a show called, The Brave Soul.
                    </p>
                </article>
                <article class="work">
                    <h1>
                        Author
                        <span class="label label-default">2016 - Present</span>
                    </h1>
                    <h2>Writer</h2>
                    <p>
                        I am an author 5 published books including three motivational books
                        and two anthologies of poetry. I am also motivational speaker,
                        blogger and an ambassador of GirlzHave Voices association. I am the
                        chief Editor of Zim Influencers Magazine. (Available on google
                        search) I have extensively commented on many social questions.
                    </p>
                </article>
                <article class="work">
                    <h1>
                        Polignotic School, Nizhniy Novgorod
                        <span class="label label-default">Sep 2018 - Jul 2021</span>
                    </h1>
                    <h2>English Teacher</h2>
                    <p>
                        At Polignotic, I also worked as an English teacher and I was in
                        charge of the speaking club as well. My oldest student was 56 and
                        that was such a wonderful experience for me.
                    </p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="hr-line2" />
            </div>
        </div>
    </div>
</section>