<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />

<section id="welcome" class="resume" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="head-bar">
                    <i class="fa fa-2x fa-city"></i> ZEC Provincial Offices
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Bulawayo Metropolitan<span class="label label-default">Province</span>
                    </h1>

                    <h2>
                        Bulawayo<small>Town</small>

                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park
                        Building 16th Avenue, Famona Bulawayo</h3>
                </article>

                <article class="education">
                    <h1>
                        Harare Metropolitan<span class="label label-default">Province</span>
                    </h1>

                    <h2>
                        Harare<small>Town</small>

                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 95 Jason Moyo Avenue, 4th Floor Cecil
                        House, Harare</h3>
                </article>

                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutare
                        <small>Town</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 1st Floor New Government Complex, Cnr
                        Robert Mugabe and 4th Street, Mutare
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bulawayo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 16 Centenary Court, Windsor Park Building
                        16th Avenue, Famona, Bulawayo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Matabeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gwanda
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 1194 Bigben Road, Jahunda, Gwanda.
                    </h3>
                </article>
            </div>
            
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bindura
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2nd Floor Mtungagore Building, Bindura.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Marondera
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 2 Fifth Street, Marondera.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chinhoyi
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 78 Robson Manyika Drive, Chinhoyi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Masvingo
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10 Hellet Street Masvingo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gweru
                        <small>Town</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> 10th Street, Ground Floor Government
                        Complex, Gweru.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h3 class="head-bar"><i class="fa fa-2x fa-building"></i> ZEC District Offices</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Bulawayo Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Bulawayo<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> 18 Rylanders Court, Windsor Park Complex,16th
                    Avenue, Famona, Bulawayo</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Harare Metropolitan<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Harare<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Rememberance Complex, No. 2 Rememberence Drive, Mbare, Harare</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Harare Metropolitan
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chitungwiza
                        <small>District</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Seke Teachers’ College, Stand No. 16120,Mangwende Drive, Chitungwiza
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Buhera
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Buhera Rural District Council Offices, Murambinda, Buhera.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chimanimani
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Chimanimani Rural District Council Offices,Chimanimani.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chipinge
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> New Government Complex, Block B 2nd floor, Chipinge.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Makoni
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Marondera
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Chingaira Building, Rusape.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutare
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, 43 Tembwe Street, Mutare.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutasa
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> DC Mutasa Messenger’s Camp, Stand No. 4894, Mutasa.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Manicaland
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Nyanga
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Nyanga.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Bindura<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Mutungagore Building, Office No. G73, Bindura.</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Mashonaland Central<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Guruve<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Old Magistrate Court, District Administrator’s Complex, Guruve.</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mazowe
                        <small>District</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Concession, Mazowe.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mbire
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Mbire Rural District Council Offices, Mbire.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mount Darwin
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Office No. 27,Mount Darwin.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Muzarabani
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Palmwal Agencies Building, Stand No. 145,Centenary.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Rushinga
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Office No. 14,Rushinga.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                    Mashonaland Central
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Shamva
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Stand No. 203,Main Street, Shamva.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chikomba
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> The Range, District Administrator’s Office, Chikomba.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Goromonzi
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Public Works Complex, Goromonzi.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland East<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Marondera<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Office, No. 1 First Street, Marondera.</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Mashonaland East<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Mudzi<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Government Complex, Kotwa Growth Point, Mudzi.</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Murehwa
                        <small>District</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Murewa Rural District Council Offices, Murewa Growth Point, Murewa.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mutoko
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Mutoko District Development Fund Complex, Mutoko.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Seke
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Cnr Mharapara/Mangwende Drive, Chitungwiza.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Uzumba Maramba
                        Pfungwe (UMP)
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Mutawata Government Complex, Mutawatawa.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland East
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Wedza
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex,Wedza Growth Point, Wedza.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chegutu
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Chegutu Municipality,Queens Street, Chegutu Civic Centre, Chegutu.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Hurungwe
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Hurungwe Rural District Council Offices, 262 Chikangwe Road, Karoi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Kariba
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Public Works Kariba Depot, Kariba.
                    </h3>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Mashonaland West<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Makonde<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Public Works Department,Makonde Depot, Chinhoyi.</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Mashonaland West<span class="label label-default">Province</span>
                    </h1>
        
                    <h2>
                        Mhondoro-Ngezi<small>District</small>
        
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Sanyati Rural District Council Offices, 8 Warwick Road, Kadoma.</h3>
                </article>
        
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Sanyati
                        <small>District</small>
                    </h2>
                    <h3> <i style="color: #480470" class="fas fa-building"></i> Sanyati Rural District Council Offices, 8 Warwick Road, Kadoma.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Mashonaland West
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Zvimba
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Murombedzi Government Complex, Murombedzi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bikita
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Institute of Training and Development, Nyika Growth Point, Bikita.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                     Chiredzi
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Stand No. A80A, Cnr Crocodile Street/Msasa Street, District Development Fund
                        Workshop Chiredzi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chivi
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Chivi Growth Point, Chivi.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gutu
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Gutu Old Post Office, Cnr Harare Road/Chatsworth Road, Gutu Growth Point, Gutu.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Masvingo
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Cnr Leopold Takawira Street/Hughes Street,
                        Masvingo.
                    </h3>
                </article>
                <article class="education">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mwenezi
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Big Six Complex, Rutenga Growth Point, Mwenezi.
                    </h3>
                </article>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <article class="work">
                    <h1>
                        Masvingo
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Zaka
                    <small>District</small></h2>
                <h3>
                    <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Zaka.
                </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Binga
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Binga Rural District Council Offices, Binga.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bubi
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Stand No. 2/1984, Bubi Rural District Council Houses, Bubi.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Hwange
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Thomas Coulter Annex School, Thomas Coulter Road, Hwange.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Lupane
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Stand No. 246, Multipurpose Hall, Kusile Rural District Council Offices, Lupane.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mangwe
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Stand No. 140, Peter Street, Hebron,Plumtree.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Matobo
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Offices, Bulawayo-Mapisa Road, Kezi.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Insiza
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Offices, Filabusi.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Umzingwane
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Umzingwane Rural District Council Offices, Umzingwane.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Chirumanzu
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Administrator’s Complex, Opposite Mvuma Tel-One Office, Mvuma.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gokwe North
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Government Complex, N0. 57, Gokwe North.
                    </h3>
                </article>
            </div>
            <div class="col-md-6">
                <article class="work">
                    <h1>
                        Matebeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Tsholotsho
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> District Development Fund Training Centre, Tsholotsho.
                    </h3>
                </article>

                <article class="work">
                    <h1>
                        Matebeleland North
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Nkayi
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Nkayi Rural District Office, Nkayi.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Beitbridge
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Office No. 5, Old Boarder Post, Beitbridge.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Bililima
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Stand No. 140, Hebron, Plumtree.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Matebeleland South
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gwanda
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Office No. 10, Shashe Building, Cnr Lawley Street /6th Avenue, Gwanda.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Gokwe South
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Government Complex, No. 103,Gokwe South.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                    Gweru
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Old Prison Complex, Office No. 10, Main Street, Gweru.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Kwekwe
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Social Welfare Offices, Cnr 2nd Avenue/4th Street, Kwekwe.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Mberengwa
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Ministry of Education Complex, Office No. 3, Mberengwa.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Shurugwi
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> Makusha Hall, Peak Road, Adjacent ZIMASCO, Main Offices, Shurugwi.
                    </h3>
                </article>
                <article class="work">
                    <h1>
                        Midlands
                        <span class="label label-default">Province</span>
                    </h1>
                    <h2>
                        Zvishavane
                        <small>District</small>
                    </h2>
                    <h3>
                        <i style="color: #480470" class="fas fa-building"></i> New Government Complex, Zvishavane.
                    </h3>
                </article>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="hr-line2" />
            </div>
        </div>
    </div>
</section>