
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


<header>
  <nav style="
background: rgba(0, 0, 0, 0.1);
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 5px;

    " class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-0">
    <div class="container">
      <img width="100" alt="logo" [routerLink]="['/']" class="logo" src="/assets/images/icon.png" />

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_n5xcrawp.json" background="transparent" speed="1"
          style="width: 40px; height: 40px;" loop autoplay></lottie-player>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a style="font-size: 20px; font-weight:600; text-decoration: none; color:#28004d" class="nav-link "
              [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a style="font-size: 20px; font-weight:600; text-decoration: none; color:#28004d" class="nav-link text-#ff5e14"
              [routerLink]="['/why_voting']">Why Voting?</a>

          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a style="font-size: 20px; font-weight:600; text-decoration: none; color:#28004d" class="nav-link text-#ff5e14"
              [routerLink]="['/centers']">Registration Centers</a>
          
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a style="font-size: 20px; font-weight:600; text-decoration: none; color:#28004d" class="nav-link text-#ff5e14"
              [routerLink]="['/contact_us']">Contact_us</a>
          
          </li>
          
          

          


          

        </ul>
      </div>
    </div>
  </nav>
</header>
