/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    //background-image: url('https://images.unsplash.com/photo-1618811308896-d279d72fdf4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1052&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    
}



@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #b1a2be;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 34s linear infinite;
}




.background li:nth-child(0) {
    left: 70%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 68%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 79%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 58%;
    width: 138px;
    height: 138px;
    bottom: -138px;
    animation-delay: 15s;
}
.background li:nth-child(4) {
    left: 48%;
    width: 42px;
    height: 42px;
    bottom: -42px;
    animation-delay: 17s;
}
.background li:nth-child(5) {
    left: 36%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 35%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 14s;
}
.background li:nth-child(7) {
    left: 32%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 1s;
}
.background li:nth-child(8) {
    left: 81%;
    width: 89px;
    height: 89px;
    bottom: -89px;
    animation-delay: 27s;
}
.background li:nth-child(9) {
    left: 29%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 20s;
}
.background li:nth-child(10) {
    left: 13%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 31s;
}
.background li:nth-child(11) {
    left: 43%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 1s;
}
.background li:nth-child(12) {
    left: 22%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 7s;
}
.background li:nth-child(13) {
    left: 40%;
    width: 58px;
    height: 58px;
    bottom: -58px;
    animation-delay: 31s;
}
.background li:nth-child(14) {
    left: 13%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 12s;
}
.background li:nth-child(15) {
    left: 89%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 51s;
}
.background li:nth-child(16) {
    left: 40%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 46s;
}
.background li:nth-child(17) {
    left: 10%;
    width: 44px;
    height: 44px;
    bottom: -44px;
    animation-delay: 34s;
}
.background li:nth-child(18) {
    left: 31%;
    width: 48px;
    height: 48px;
    bottom: -48px;
    animation-delay: 49s;
}
.background li:nth-child(19) {
    left: 53%;
    width: 98px;
    height: 98px;
    bottom: -98px;
    animation-delay: 72s;
}
.background li:nth-child(20) {
    left: 83%;
    width: 64px;
    height: 64px;
    bottom: -64px;
    animation-delay: 48s;
}
.background li:nth-child(21) {
    left: 63%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 16s;
}
.background li:nth-child(22) {
    left: 43%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 15s;
}
.background li:nth-child(23) {
    left: 63%;
    width: 52px;
    height: 52px;
    bottom: -52px;
    animation-delay: 64s;
}
.background li:nth-child(24) {
    left: 39%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 55s;
}
.background li:nth-child(25) {
    left: 79%;
    width: 65px;
    height: 65px;
    bottom: -65px;
    animation-delay: 91s;
}
.background li:nth-child(26) {
    left: 32%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 65s;
}
.background li:nth-child(27) {
    left: 24%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 135s;
}
.background li:nth-child(28) {
    left: 82%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 130s;
}
.background li:nth-child(29) {
    left: 48%;
    width: 50px;
    height: 50px;
    bottom: -50px;
    animation-delay: 2s;
}
.background li:nth-child(30) {
    left: 86%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 5s;
}
.background li:nth-child(31) {
    left: 33%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 25s;
}
.background li:nth-child(32) {
    left: 38%;
    width: 48px;
    height: 48px;
    bottom: -48px;
    animation-delay: 26s;
}
.background li:nth-child(33) {
    left: 79%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 45s;
}
.background li:nth-child(34) {
    left: 25%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 12s;
}
.background li:nth-child(35) {
    left: 64%;
    width: 59px;
    height: 59px;
    bottom: -59px;
    animation-delay: 146s;
}
.background li:nth-child(36) {
    left: 7%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 79s;
}
.background li:nth-child(37) {
    left: 10%;
    width: 41px;
    height: 41px;
    bottom: -41px;
    animation-delay: 162s;
}
.background li:nth-child(38) {
    left: 2%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 150s;
}
.background li:nth-child(39) {
    left: 64%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 87s;
}
.background li:nth-child(40) {
    left: 38%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 100s;
}
.background li:nth-child(41) {
    left: 49%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 109s;
}
.background li:nth-child(42) {
    left: 87%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 107s;
}
.background li:nth-child(43) {
    left: 3%;
    width: 39px;
    height: 39px;
    bottom: -39px;
    animation-delay: 143s;
}
.background li:nth-child(44) {
    left: 58%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 9s;
}